@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
	font-family: Rubik;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* @font-face {
	font-family: "DM Sans";
	src: url("../Fonts/DMSans_18pt-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

/* SemiBold weight */
/* @font-face {
	font-family: "DM Sans";
	src: url("../Fonts/DMSans_18pt-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
} */

/* Bold weight */
/* @font-face {
	font-family: "DM Sans";
	src: url("../Fonts/DMSans_18pt-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
} */

.time-tracking {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	grid-auto-rows: 252px;
	row-gap: 2.1875rem; /* 35px */
	column-gap: 1.9375rem; /* 31px */
}

.time-card {
	display: grid;
}

.time-card > * {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
